html,
body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-habilidades {
    padding: 5px 10px;
    background-color: gray;
    border-bottom: 2px solid rgba(255, 0, 0, 0.651);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    width: auto;
    max-width: 100%; 
    box-sizing: border-box;
}

.card-habilidades h5 a { 
    text-decoration: none;
    color: black;
    display: block; 
    word-wrap: break-word; 
}

.card-habilidades h5 a:hover { 
    text-decoration: none;
    color: rgba(255, 0, 0, 0.651);
}

.card-projetos {
    border-bottom: 2px solid rgba(255, 0, 0, 0.651);
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}

.tags-habilidades {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card-img {
    flex: 2;
}

.card-img img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin: 5px 10px 25px 20px;
}

.card-informacoes {
    padding: 10px;
    border-radius: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-left: 150px;
    color: white;
    text-decoration: none;
}

.sobre {
    text-indent: 20px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.897);
}

.img-conteudo-principal {
    border-radius: 150px;
}

.navbar {
    border-bottom: 2px solid rgba(255, 0, 0, 0.651);
    background-color: rgba(0, 0, 0, 0.897);
}

.navbar-alteracoes .navbar-brand,
.navbar-alteracoes .nav-link {
    color: white;
}

.conteudo-principal {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.897);
}

.redes {
    text-align: center;
}

.redes .btn {
    display: block;
    margin: 0 auto;
}

.destaque {
    color: rgba(255, 0, 0, 0.966);
}

.btn-redes {
    padding: 30px 50px;
    background-color: rgba(0, 0, 0, 0.39);
    color: rgba(255, 0, 0, 0.966);
    border-radius: 25px;
    text-decoration: none;
    border: 2px solid rgba(255, 0, 0, 0.644);
    display: inline-block;
    transition: background-color 2s ease, color 2s ease;
    font-size: 20px;
}

.btn-redes:hover {
    background-color: rgba(0, 0, 0, 2);
    color: rgba(255, 0, 0, 1);
}

.icone-redes {
    margin-right: 20px;
    margin-bottom: 5px;
}

.conteudo-principal p,
.conteudo-principal h2,
.conteudo-principal h1 {
    color: white;
}

.footer {
    flex-shrink: 0;
    border-top: 2px solid rgba(255, 0, 0, 0.966);
    background-color: rgba(0, 0, 0, 0.897);
}

.footer div a {
    color: white;
}

.footer div a:hover {
    color: rgba(255, 0, 0, 0.651);
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar .navbar-brand {
    flex: 1;
    text-align: center;
}

.navbar-toggler {
    margin-left: auto;
}

@media (max-width: 400px) {
    .btn-redes {
        padding: 20px 30px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .bebas-neue-regular {
        margin-left: 30px;
    }
}

@media (max-width: 300px) {
    .bebas-neue-regular {
        margin-left: 0px;
    }
}

@media (max-width: 1050px) {
    .card-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .sobre {
        margin: 0 15px 0 15px;
    }

    .card-habilidades  { 
        margin-left: 10px;
    }
}

